# Entorno y Dependencias
venv/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Credenciales de Google (Cualquier JSON de credenciales)
credentials*.json
*.json.secret

# Carpetas de Compilación (PyInstaller)
build/
dist/
*.spec

# Archivos de Pruebas y Temporales
/ARCHIVOSPRUEBAS/
*.xlsx
*.xls